.test-border {
  border: solid red 1px;
}

body {
  font-family: "Staatliches", cursive;
}

h1 {
  color: cornflowerblue;
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
